<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Proyecto" connectionString="Data Source=DBProyectoAD.mssql.somee.com; 
			 Initial Catalog=DBProyectoAD; user id=Ariel21A_SQLLogin_1;
			pwd=bos7eo41ed;"/>
	</connectionStrings>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="EnlaceHTTP"
		  closeTimeout="00:10:00"
		  maxReceivedMessageSize="65536"
		  maxBufferSize="65536"
		  messageEncoding="Text"
		  textEncoding="utf-8">
				</binding>
			</basicHttpBinding>
			<webHttpBinding>
				<binding name="EnlaceHTTPRest"
		  closeTimeout="00:10:00"
		  crossDomainScriptAccessEnabled="true"></binding>
			</webHttpBinding>
		</bindings>
		<services>
			<service name="proyecto.fisei.vuelos.implementacion.UsuarioService" behaviorConfiguration="ServiceBehavior">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="EnlaceHTTP" contract="proyecto.fisei.vuelos.contrato.IUsuarioService"></endpoint>
				<endpoint address="rest" binding="webHttpBinding" bindingConfiguration="EnlaceHTTPRest" contract="proyecto.fisei.vuelos.contrato.IUsuarioService" behaviorConfiguration="webREST"></endpoint>
			</service>
			<service name="proyecto.fisei.vuelos.implementacion.AuthService" behaviorConfiguration="ServiceBehavior">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="EnlaceHTTP" contract="proyecto.fisei.vuelos.contrato.IAuthService"></endpoint>
				<endpoint address="rest" binding="webHttpBinding" bindingConfiguration="EnlaceHTTPRest" contract="proyecto.fisei.vuelos.contrato.IAuthService" behaviorConfiguration="webREST"></endpoint>
			</service>
			<service name="proyecto.fisei.vuelos.implementacion.VueloService" behaviorConfiguration="ServiceBehavior">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="EnlaceHTTP" contract="proyecto.fisei.vuelos.contrato.IVueloService"></endpoint>
				<endpoint address="rest" binding="webHttpBinding" bindingConfiguration="EnlaceHTTPRest" contract="proyecto.fisei.vuelos.contrato.IVueloService" behaviorConfiguration="webREST"></endpoint>
			</service>
			<service name="proyecto.fisei.vuelos.implementacion.ReservaService" behaviorConfiguration="ServiceBehavior">
				<endpoint address="" binding="basicHttpBinding" bindingConfiguration="EnlaceHTTP" contract="proyecto.fisei.vuelos.contrato.IReservaService"></endpoint>
				<endpoint address="rest" binding="webHttpBinding" bindingConfiguration="EnlaceHTTPRest" contract="proyecto.fisei.vuelos.contrato.IReservaService" behaviorConfiguration="webREST"></endpoint>
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="webREST">
					<webHttp helpEnabled="true" />
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<handlers>
			<remove name="WebDAV"/>
		</handlers>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="WebDAVModule"/>
			<add name="CorsModule" type="proyecto.fisei.vuelos.wcf.CorsModule, proyecto.fisei.vuelos.wcf" />
		</modules>
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>